header{
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 2%), 0 6px 10px 0 rgb(0 0 0 / 1%), 0 1px 18px 0 rgb(0 0 0 / 2%);
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 999;
    padding: 10px 20px;
    width: 100%;
}
.title{
    font-family: "Dancing_script";
    font-weight: 700px;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #7DC142;
}

.search-button{
    height: 30px;
    margin-left: -2px;
    border: 1px solid;
}
button .search-button :hover{
    background: transparent !important;
}

.nav-link ,.mat-icon{
    color: #7DC142;
}
a :hover{
    color: brown;
}