<div  class="row p-5">
    <div class="center-center col-md-8 " style="margin: auto;">
        <table class="table table-hover table-light table-striped " *ngIf="products.length > 0">
            <thead>
                <tr class=""> 
                    <th>Name</th>
                    <th>model</th>
                    <th>fabric</th>
                    <th>price</th>
                    <th>manufacturer</th>
                    <th>date of manufacture</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.name}}</td>
                    <td>{{product.model}}</td>
                    <td>{{product.fabric}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.manufacturer}}</td>
                    <td>{{product.dateOfManufacture | date}}</td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger col-sm-12" *ngIf="products.length == 0">
            <p>No Products Found</p>
            <button mat-raised-button color="success" (click)="createProduct()">Create Product</button>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>